*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: green;
    position: sticky;
    box-sizing: border-box;
box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}
.cart>a{
    text-decoration: none;
}

#categories1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin: 5px;
    margin: auto;
    padding: 15px;
    width: 95%;
    background-color: white;
    font-family: sans-serif;
    cursor: pointer;
    gap: 10px;
    box-sizing: border-box;

 }
.cat1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
margin: 15px;
   
}
.description{
background-color: #d5d7db;
padding: 15px;
font-size: medium;
}
.banner{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(48, 31, 31);
    font-family: Roboto,Arial,sans-serif;
    height: 50px;
    line-height: 1.4;
    padding: 15px;
    font-size: 15px;
    
}
.innertxt{
    h1{
        color: black;
        background-color: white;
        border-radius: 10px;
        height: 30px;
        width: 500px;
        padding: 10px;
        text-align: center;
    
        
    }
}
.bottomtext{

    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: rgba(0, 0, 0, 0.733);
   
   

    
}