*{
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: white;
    height: 100px;
}
.navtab:hover{
    
    border-bottom: 5px solid #2874F0; 
    border-radius: 4px;
}
#outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#inner{
    display: flex;
    background-color: white;
    width: 70%;
    height: 500px;
}


.left{
    background-color: #2874F0;
    color: white;
    font-family: sans-serif;
    width: 45%;
}

.right{
    font-family: sans-serif;
    width: 55%;
}

.lgn{
    margin-top: 35px;font-weight: bold;font-size: 25px;padding-top:40px;width:75%;margin: auto;
}

.sgn{
    margin-top: 20px;font-size: 18px;padding-top: 27px;width: 75%;margin: auto;
}

.btn1{
    border: none;
    background-color: #FB641B;
    color: white;
    font-size: 15px;
    font-weight: 650;
    height: 50px;
    width: 85%;
    padding: 9px;
    border-radius: 5px;

}
.btn1:hover{
    background-color: green;
    cursor: pointer;
}
.mobile{
    width: 70%; 
    margin-top: 10px;
    height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

.mobile:focus {
    outline:0;
    border-width: 0 0 2px;
    border-color: black;
  }

  .name{
    width: 70%;
     margin-top: 10px;
     height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

.name:focus {
    outline:0;
    border-width: 0 0 2px;
    border-color: black
  }

  
  .password{
    width: 70%; margin-top: 10px;height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
}

.password:focus {
    outline:0;
    border-width: 0 0 2px;
    border-color: black
  }

.textm{
   font-size: 12px;width: 80%;
    margin: auto;padding-top: 10px;
}